img {
	height: 200px;
	max-width: 100%;
}

.entry {
	width: 85%;
	flex-basis: 50%;
}

.entry p {
	margin: 0;
}

.entry-card {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	margin-bottom: 30px;
	margin-right: 15px;
}

.entry-card h3 {
	text-align: left;
}
