form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	align-items: center;
	width: 100%;
}

div.auth-forms {
	margin: 20px auto;
	width: 25%;
	display: flex;
	justify-content: center;
	/* max-width: 300px; */
}

label {
	letter-spacing: 0.2em;
	text-align: left;
	width: 100%;
	margin: 0;
	padding: 0;
	margin-left: -20px;
}

input {
	width: 100%;
	padding: 5px 10px;
	font-size: 14px;
}

input:focus {
	outline: none;
}

input.submit-button {
	width: 50%;
	margin: 20px auto;
	font-family: 'Montserrat', sans-serif;
	background-color: white;
	padding: 5px 10px;
}

.submit-button:hover {
	cursor: pointer;
}

.signupErrorBorder {
	border: 2px solid black;
}

.error-message {
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
	font-size: smaller;
}

.signupErrors {
	margin: 0 auto;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.5);
	color: black;
	width: 50%;
	padding: 1px;
}
