.new-form-container {
	max-width: 60%;
	margin: 0 auto;
	margin-top: 20px;
}

.new-form {
	margin-top: 20px;
	width: 100%;
}

label {
	letter-spacing: 0.2em;
}

input,
textarea {
	width: 100%;
	padding: 5px 10px;
	font-size: 14px;
	margin-bottom: 20px;
}

input:focus,
textarea:focus {
	outline: none;
}

textarea {
	border: 1px solid transparent;
}

.submit-button-container {
	width: 200px;
	margin: 20px auto;
}

input.submit-button {
	width: 100%;
	font-family: 'Montserrat', sans-serif;
	background-color: white;
	padding: 5px 10px;
	border: 1px solid transparent;
}

.submit-button:hover {
	cursor: pointer;
}

.error {
	border: 1px solid red;
}
