@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

html,
body {
	width: 100%;
	font-family: 'Montserrat', sans-serif;
	color: white;
	/* background-image: url('./assets/images/cinque-terre-828614_1920.jpg'); */
	background-color: black;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	margin: 0;
}

html,
body,
.App {
	height: 100%;
	width: 100%;
	position: absolute;
}

.logged-in-nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 15px 25px;
}

p {
	white-space: pre-wrap;
}

.greeting {
	text-transform: capitalize;
}

.other-links {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

.logo {
	letter-spacing: 0.2em;
}

p.log-out:hover {
	cursor: pointer;
}
